.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;

    margin: 1em;
  }
}

.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  outline: 2px solid black;
  gap: 1em;
  padding: 0.6em;

  background-color: #f6f6f5;

  &__img {
    align-self: center;
    justify-self: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__info {
    justify-self: start;
    align-self: center;
  }

  &__detail {
    display: flex;
    align-items: center;
  }
  &__span {
    display: inline-block;
  }
}

.season {
  display: flex;
  flex-direction: column;

  width: 100%;
  border-bottom: 3px solid black;
}
