@import "mixins";
@import "variables";
@import "modularscale";
.graph {
  width: min(100%, 80em);
  height: 70vh;
  padding: 1em;
  z-index: 1;

  &__controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
  }
  &__button {
    min-width: 2em;
    padding: 0.5em;
    margin: 0.5em;
  }
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min(100%, 70vh);
  width: 100%;
}

.d3 {
  &__decorations {
  }
  &__axis {
    font-size: ms(0);
    &--x {
    }
    &--y {
    }
  }
  &__label {
    font-size: ms(1);
  }
  &__clip-path {
  }
  &__draw-area {
  }
  &__trendlines {
  }
  &__line {
    stroke-width: 3;
    &--std {
      stroke-dasharray: 5, 5;
    }
  }
  &__line-plot {
    fill: none;
    stroke-opacity: 0.5;
    stroke: $clr-black;
    stroke-width: 1.5;
  }
  &__scatter-plot {
    stroke: $clr-black;
    stroke-opacity: 1;
  }
  &__circle {
    stroke-width: 0.2;
  }
}

.tooltip {
  background: $clr-white;
  opacity: 0;
  color: $clr-black;
  font-size: ms(1);
  border: 1px solid $clr-black;
  border-radius: 5px;
  padding: 1em;
  position: absolute;
  width: 20em;
  display: none;
  text-align: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__img {
    width: 100%;
    height: 10em;
    overflow: hidden;
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }
  &__item {
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.tick {
  & line {
    opacity: 0.2;
  }
}
