$clr-black: #000;
$clr-white: #fff;
$clr-background-light: #f6f6f5;
$clr-background-dark: #1f1f1f;
$clr-text-light: #fff;
$clr-text-dark: #000;
$clr-emphasis: #f5c518;

$bp-phone-vertical: 25em;
$bp-tablet-vertical: 48em;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
